/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
  * Here you would import any custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities can still
  * override them.
  *
  * @import "my-components/foo";
  * @import "my-components/bar";
  */

@tailwind components;

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * @import "my-utilities/background-images";
  * @import "my-utilities/skew-transforms";
  */

nav a {
    @apply .no-underline;
    @apply .p-2;
    @apply .text-xl;
}

footer a {
    @apply .text-grey-lighter;
}

#block-headernavigation ul {
    @apply .list-reset;
}

#block-headernavigation a {
    @apply .block mt-4 text-grey-darkest mr-4;
}

#block-headernavigation a:hover {
    @apply .bg-grey-lightest;
}


#search-block-form input.form-search {
    @apply .appearance-none .border .w-full .py-1 .px-3 .mr-3 .text-grey-darker;
}

#search-block-form input.form-submit {
    @apply .w-full .text-sm .px-4 .py-2 .leading-none .border .text-white .bg-purple-dark .mt-4 .font-bold .uppercase .text-center .h-full;
}

#subscribe-button {
    @apply .w-full .px-4 .pt-1 .pb-2 .leading-none .border .no-underline .text-white .bg-purple-dark .mt-4 .font-bold .text-center .h-full;
}

@screen md {
    #block-headernavigation ul {
	@apply .flex;
    }
    #search-block-form input.form-search {
	@apply .w-2/3;
    }
    #search-block-form input.form-submit {
	@apply .w-1/3;
    }
}

@screen lg {
    #block-headernavigation a {
	@apply .mt-0;
    }
    #search-block-form input.form-submit {
	@apply .mt-0;
    }
}

h1 {
    @apply .font-sans;
}

#block-headernavigation ul ul {
  list-style: none;
  padding: 0;
  display: block;
  position: absolute;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #dae1e7;
  display: none;
}
