{#
/**
* @file
* Default theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
*   "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
*   administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
*   linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - messages: Status and error messages. Should be displayed prominently.
* - node: Fully loaded node, if there is an automatically-loaded node
*   associated with the page and the node ID is the second argument in the
*   page's path (e.g. node/12345 and node/12345/revisions, but not
*   comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.content: The main content of the current page.
* - page.sidebar: Items for the sidebar.
* - page.footer: Items for the footer region.
*
* @see template_preprocess_page()
* @see html.html.twig
*
* @ingroup themeable
*/
#}
<header class="border-t-8 border-purple-dark shadow mb-8">
    {{ page.header }}
</header>

<div class="my-4 container mx-auto">
    <div class="md:flex">
	<main class="md:w-3/4 px-6">
	    {{ page.content }}
	    <div id="disqus_thread"></div>
	</main>

	{% if page.sidebar %}
	    <aside class="md:w-1/4 md:ml-3 px-6">
		{{ page.sidebar }}
	    </aside>
	{% endif %}
    </div>
</div>

<footer class="blog-footer p-3 text-center bg-purple-dark text-white">
    {{ page.footer }}
</footer>
